{% extends "base2.html" %}
{% block title %}Singapore Airlines - Admin Home{% endblock %}
{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome {{ session['username'] }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
<!--      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
      <h2>Audit Logs</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Audit Log ID</th>
              <th>Username</th>
              <th>Status</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ audit1['wrong_login_id'] }}</td>
              <td>{{ audit1['username'] }}</td>
              <td>{{ audit1['statusmsg'] }}</td>
              <td>{{ audit1['date_time'] }}</td>
            </tr>
            <tr>
              <td>{{ audit2['wrong_login_id'] }}</td>
              <td>{{ audit2['username'] }}</td>
              <td>{{ audit2['statusmsg'] }}</td>
              <td>{{ audit2['date_time'] }}</td>
            </tr>
            <tr>
              <td>{{ audit3['wrong_login_id'] }}</td>
              <td>{{ audit3['username'] }}</td>
              <td>{{ audit3['statusmsg'] }}</td>
              <td>{{ audit3['date_time'] }}</td>
            </tr>
            <tr>
              <td>{{ audit4['wrong_login_id'] }}</td>
              <td>{{ audit4['username'] }}</td>
              <td>{{ audit4['statusmsg'] }}</td>
              <td>{{ audit4['date_time'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock %}
